html {
	box-sizing: border-box;
	font: 16px/1.5 -apple-system, Roboto, Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	padding: 6rem 1.5rem;
	min-height: 200vh;
	max-width: 760px;
	background: #fff;
	color: #1D3238;
}

h1 {
	font-size: 2.25rem;
	margin: 0 0 1.5rem;
}

h2 {
	font-size: 1.75rem;
	margin: 0 0 1.5rem;
}

p {
	margin: 0 0 1.5rem;
}
